# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

#build folder
build/*

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Navigation
GPATH
GRTAGS
GTAGS
TAGS

#Backup and Temporal Files
*~
\#*\#

#Sublime Workspace and project
*.sublime-project
*.sublime-workspace


#Skip autotools temporaly files
*.swp
DIST_REVISION
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.log
config.status
configure
configure.lineno
depcomp
install-sh
missing
spsid-*.tar.gz
spsid-server.pc
setup_tools/substvars.sh
share/conf_defaults/spsid_config.pl
share/psgi/spsid_jsonrpc.fcgi
share/psgi/spsid_jsonrpc.psgi
